/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.column {
    flex: 1;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h1, h2 {
    color: #033449;
}

/* Navbar */
.navbar {
    background-color: #347194;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #295c8f;
    border-radius: 3px;
}

/* Jumbotron */
.jumbotron {
    position: relative;
    background-image: url('https://img.freepik.com/fotos-gratis/interior-do-restaurante_1127-3394.jpg?t=st=1722733458~exp=1722737058~hmac=681c599b4f67b28ffb53a568fc7da897360d818a33b84a2a30a97cbf99fb70d6&w=740');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    overflow: hidden;
    height: 200px; /* Ajuste a altura conforme necessário */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 36, 71, 0.6); /* Azul escuro com 60% de opacidade */
    z-index: 0;
}

.jumbotron > * {
    position: relative;
    z-index: 1;
}

.jumbotron h1 {
    font-size: 4rem;
    color: #ffffff;
    margin: 0;
    line-height: 1.2;
}

.jumbotron p {
    font-size: 1.25rem;
    margin-top: 20px;
}

/* Cards */

.card, .pedido-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 400px; /* Altura fixa para garantir a mesma altura */
    width: 250px;
    flex: 1 1 calc(25% - 20px); /* 4 cartões por linha com espaçamento */
}

.card img, .pedido-item img {
    width: 100%;
    height: 150px; /* Altura fixa para a imagem */
    object-fit: cover; /* Cobre a área da imagem sem distorcer */
}

.card-body, .pedido-info {
    padding: 15px;
    flex: 1; /* Permite que o conteúdo se ajuste */
}

.card-title, .pedido-info h3 {
    font-size: 1.25rem;
    color: #033449;
    margin: 0;
}

.card-text, .pedido-info p {
    font-size: 1rem;
    color: #555;
}

.btn {
    background-color: #e3946b;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c77a55;
}

/* Estilos da Seção de Pedidos */
.pedido-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Distribui os itens igualmente */
}

/* Footer */
footer {
    background-color: #033449;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.btn {
    align-self: flex-start;
}

